@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Nunito', 'Quicksand', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  background: transparent !important;
  background-color: transparent !important;
  @apply text-ink-600 w-full h-full overflow-hidden m-0 p-0;
}

#root {
  @apply w-full h-full;
}